html, body {
    height: 100%;
    margin: 0;
}

.nz-layout {
}

.nz-content {
    text-align: center;
    margin-top: 40px;
}

h2 {
    display: inline-block;
    margin: 0;
    font-size: 36px;
    color: red;
}